body{
margin:0;
font-family:Arial;
background:#f5f5f5;
}

.sidebar{
width:220px;
height:100vh;
background:#1f2937;
position:fixed;
padding:20px;
}

.sidebar h2{
color:white;
}

.sidebar a{
display:block;
color:white;
padding:10px;
margin-top:10px;
text-decoration:none;
background:#374151;
border-radius:5px;
}

.main{
margin-left:260px;
padding:20px;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:white;
padding:20px;
width:220px;
border-radius:10px;
box-shadow:0 0 10px #ccc;
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px 20px;
background:#2563eb;
color:white;
border:none;
border-radius:5px;
}